#logo {
    width: 400px;
    height: 360px;
    -webkit-transform: skew(15deg);
          transform: skew(15deg);
  font-size: 1px;
  padding: 1px;
  color: white;
  margin-right: 5px;
  margin-left: 5px;
  -webkit-animation: shake 2s infinite;
          animation: shake 2s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

/*.pure-menu-list {
    padding-left: 40px;
}*/



@-webkit-keyframes shake {
  0% {
    -webkit-transform: skewY(20deg);
            transform: skewY(20deg);
  }
  100% {
    -webkit-transform: skewY(-20deg);
            transform: skewY(-20deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: skewY(20deg);
            transform: skewY(20deg);
  }
  100% {
    -webkit-transform: skewY(-20deg);
            transform: skewY(-20deg);
  }
}
body, html {
  height: 100%;
}

body {
    background-image: url("http://www.wallpapersshock.com/uploads/large/3d-hd-live-wallpapers-laptop/live-3d-water-wallpaper-3d-live-wallpapers-for-pc-.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}

